.card-img-top {
    height: 180px;
    width: 100%; 
    object-fit: cover;
    border-radius: .25rem .25rem 0 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: .25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
  }
  
  .card-text {
    margin-bottom: .5rem;
  }
  
  .card-footer .btn {
    margin: 0 .5rem;
  }
